fastapi
gunicorn
uvicorn[standard]
crewai
crewai[tools]
gradio
python-dotenv
streamlit
plotly
pandas
fuzzywuzzy
python-levenshtein
pyyaml
langchain-openai
openai
requests
pydantic
pyYAML 
python-multipart